@import "./style/gradient.css";
@import "./style/color.css";


* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  min-height: 0;
}

/* General Settings */
#battery,
#cava,
#custom-cava,
#custom-clipboard,
#custom-notifications,
#custom-arch,
#custom-gpu-usage,
#custom-updates,
#mode,
#cpu,
#memory,
#temperature,
#custom-music,
#custom-fans,
#clock,
#idle_inhibitor,
#bluetooth,
#custom-wf-recorder,
#pulseaudio,
#backlight,
#network,
#tray,
#custom-power-menu,
#language,
#window,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  background-color: alpha(@base, 0.9);
  padding: 0 10px;
  margin: 2px 4px 5px 4px;
  border-radius: 10px;
  box-shadow: 3px 3px 1px 1px alpha(@shadow, 0.7);
  border: 2px solid @border;
  background-clip: padding-box;
}


.hdmi #battery,
.hdmi #cava,
.hdmi #custom-cava,
.hdmi #custom-clipboard,
.hdmi #custom-notifications,
.hdmi #custom-arch,
.hdmi #custom-gpu-usage,
.hdmi #custom-updates,
.hdmi #mode,
.hdmi #cpu,
.hdmi #memory,
.hdmi #temperature,
.hdmi #custom-music,
.hdmi #custom-fans,
/* .hdmi #clock, */
.hdmi #idle_inhibitor,
.hdmi #bluetooth,
.hdmi #custom-wf-recorder,
.hdmi #pulseaudio,
.hdmi #backlight,
.hdmi #network,
.hdmi #tray,
.hdmi #custom-power-menu,
.hdmi #language,
.hdmi #window,
.hdmi #custom-weather,
.hdmi #custom-weather.severe,
.hdmi #custom-weather.sunnyDay,
.hdmi #custom-weather.clearNight,
.hdmi #custom-weather.cloudyFoggyDay,
.hdmi #custom-weather.cloudyFoggyNight,
.hdmi #custom-weather.rainyDay,
.hdmi #custom-weather.rainyNight,
.hdmi #custom-weather.showyIcyDay,
.hdmi #custom-weather.snowyIcyNight,
.hdmi #custom-weather.default {
  margin: 2px 4px;
  padding: 2px;
  box-shadow: none;
  border: 2px solid transparent;
  font-size: 12px;
}
.hdmi #clock{
  font-size: 12px
}

.hdmi #custom-arch {
  margin: 2px 10px;

}


window#waybar {
  color: @text;
  background: transparent;
}

window#waybar.hdmi {
  background-color: @base;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 10px;
}


.blink {
  border-radius: 5px;
  animation: solidColorFlow 20s ease infinite;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

window#waybar.hidden {
  opacity: 0;
}

#workspaces * {
  font-size: 13px;
}
.hdmi #workspaces * {
  font-size: 11px;
}


#workspaces button {
  margin: 0 15px;
}


#workspaces button label {
  color: @lavender;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active label {
  color: @base;
  
}

#workspaces button.urgent {
  background-color: @red;
}

#workspaces button.urgent label {
  color: @base;
  font-weight: bolder;
}

#workspaces {
  background-color: alpha(@base, 0.9);
  border: 2px solid @border;
  padding: 0 4px;
  margin: 2px 4px 2px 4px;
  box-shadow: 3px 3px 1px 1px alpha(@shadow, 0.7);
  border-radius: 10px;
  background-clip: padding-box;
}
.hdmi #workspaces {
  border: none;
  box-shadow: none;
}

#workspaces button {
  border-radius: 15px;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 4px 6px;
  font-weight: bolder;
  min-width: 20px;
  color: @base;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
.hdmi #workspaces {
  border: none;
}


#workspaces button.active {
  padding-right: 12px;
  padding-left: 12px;
  box-shadow: 3px 3px 1px 1px alpha(@shadow, 0.7);
  margin-top: 5px;
  margin-bottom: 5px;
  background: linear-gradient(
    52deg,
    rgba(139, 213, 202, 1) 0%,
    rgba(138, 173, 244, 1) 30%,
    rgba(183, 189, 248, 1) 48%,
    rgba(198, 160, 246, 1) 77%,
    rgba(238, 153, 160, 1) 100%
  );
  background-size: 400% 400%;
  /* animation: gradient 15s ease infinite; */
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  color: @mauve;
  border-radius: 12px;
}

#workspaces button:hover {
  background-color: @surface0;
}

#workspaces button.focused:hover {
  background-color: alpha(@base, 0.9);
}

#workspaces button.focused:hover label {
  color: @text;
}

/* Individual Modules */
#battery {
  color: @mauve;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @peach;
}

#battery.urgent {
  color: @red;
}

#custom-cava {
  color: @lavender;
  border-radius: 12px;
}

#cpu {
  color: @blue;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#memory {
  color: @green;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#custom-notifications {
  color: @yellow;
}

#custom-weather {
  color: @red;
}

#custom-updates {
  color: @teal;
}

#custom-wf-recorder {
  color: @red;
}

#custom-gpu-temp {
  color: @peach;
}

#custom-gpu-usage {
  color: @teal;
}

#custom-power-menu {
  color: @red;
}

#temperature {
  color: @peach;
}

#bluetooth {
  color: @blue;
}

#window {
  background: linear-gradient(
    52deg,
    rgba(139, 213, 202, 1) 0%,
    rgba(138, 173, 244, 1) 30%,
    rgba(183, 189, 248, 1) 48%,
    rgba(198, 160, 246, 1) 77%,
    rgba(238, 153, 160, 1) 100%
  );
  background-size: 400% 400%;
  /* animation: gradient 15s ease infinite; */
  text-shadow: 0px 0px 5px @lavender;
  font-weight: bold;
  color: @mantle;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  border: none;
}

#temperature.critical {
  background-color: @red;
  color: @mantle;
}

#custom-music {
  background: @lavender;
  background: linear-gradient(
    52deg,
    rgba(139, 213, 202, 1) 0%,
    rgba(138, 173, 244, 1) 30%,
    rgba(183, 189, 248, 1) 48%,
    rgba(198, 160, 246, 1) 77%,
    rgba(238, 153, 160, 1) 100%
  );
  background-size: 400% 400%;
  /* animation: gradient 15s ease infinite; */
  text-shadow: 0px 0px 5px @border;
  font-weight: bold;
  color: @mantle;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  border: none;
}

#custom-fans {
  color: @green;
}

#clock {
  color: @lavender;
}

#language {
  color: @blue;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
  background-color: @red;
  color: @mantle;
}

#pulseaudio.source-muted {
  background-color: @peach;
  color: @mantle;
}

#backlight {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging,
#battery.plugged {
  background-color: @green;
  color: @mantle;
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @mantle;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  color: @sky;
}

#network.disconnected {
  background-color: @red;
  color: @mantle;
}

#network.linked {
  background-color: @peach;
  color: @mantle;
}

#clock.cl2 {
  background: @lavender;
  background: linear-gradient(
    52deg,
    rgba(139, 213, 202, 1) 0%,
    rgba(138, 173, 244, 1) 30%,
    rgba(183, 189, 248, 1) 48%,
    rgba(198, 160, 246, 1) 77%,
    rgba(238, 153, 160, 1) 100%
  );
  background-size: 400% 400%;
  /* animation: gradient 15s ease infinite; */
  text-shadow: 0px 0px 5px @border;
  font-weight: bold;
  color: @mantle;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  border: none;
    margin-top: 6px;
    margin-bottom: 6px;
}

/* Animation Keyframes */
@keyframes blink {
  to {
    background-color: alpha(@base, 0.9);
    color: @red;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }

  100% {
    background-position: 200% 200%;
  }
}
